<app-dashboard-header></app-dashboard-header>

<div class="mt-5 container text-center">
  <div class="row justify-content-evenly">
    <div class="card" style="width: 18rem;">
      <img src="assets/cartoon-customer.png" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Number Of Customers: <span [ngStyle]="{'color': 'red'}">{{numberOfCustomers}}</span></p>
      </div>
    </div>
    <div [hidden]="isShow" class="card" style="width: 18.7rem;">
      <img src="assets/item.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Number Of Items: <span [ngStyle]="{'color': 'red'}">{{numberOfItems}}</span></p>
      </div>
    </div>
  </div>
</div>
<button type="button" class="btn btn-info m-5" (click)="toggleButtonClick()">Toggle</button>

<div class="m-4" *ngIf="numberOfSuppliers > 0">
  <h2>Out of stock item list:</h2>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Index</th>
      <th>Code</th>
      <th>Description</th>
      <th>Unit Price</th>
      <th [ngClass]="'col-qty'">Qty On Hand</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of itemList; let i = index;">
      <ng-container *ngIf="item.qtyOnHand == 0">
        <td [ngClass]="'tbl-index'">{{i}}</td>
        <td>{{item.code}}</td>
        <td>{{item.description | uppercase}}</td>
        <td>{{item.price | currency: 'GBP'}}</td>
        <td>{{item.qtyOnHand}}</td>
      </ng-container>
    </tr>
    </tbody>
  </table>
</div>

<div class="m-5">
  <div *ngIf="apiData">
    <h5>Post List</h5>
    <pre>
    {{apiData | json}}
    </pre>
  </div>

</div>
